In [26]:
import pandas as pd
import pickle

# Load the data
df = pd.read_csv('interpret.csv')

# Ensure that 'rating' is numeric (float)
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')

# Drop rows where rating might be NaN after conversion (if any)
df.dropna(subset=['rating'], inplace=True)

# Sort the DataFrame by 'rating' in descending order
sorted_df = df.sort_values(by='rating', ascending=False)

# Select the top 500 movies
top_500 = sorted_df.head(500)

# Extract only the 'movieId' and 'tmdbId'
result = top_500[['title', 'tmdbId', 'rating']]

# Serialize the result using pickle
with open('top_500_movies.pkl', 'wb') as file:
    pickle.dump(result, file)

print("Data has been serialized to 'top_500_movies.pkl'")

Data has been serialized to 'top_500_movies.pkl'

In [27]:
result

                             title    tmdbId  rating
3359            Farmer's Wife, The  143750.0  10.000
4028          Promise Her Anything  265966.0  10.000
772           To Cross the Rubicon  277270.0   9.000
357      Shawshank Redemption, The     278.0   8.704
1264                Godfather, The     238.0   8.696
...                            ...       ...     ...
3202               Out of the Past     678.0   7.587
4447              Longest Day, The    9289.0   7.587
1365             Wizard of Oz, The     630.0   7.585
4777          Raisin in the Sun, A   29478.0   7.585
7461  Talk to Her (Hable con Ella)      64.0   7.582

[500 rows x 3 columns]

In [5]:
import pandas as pd

# Assuming df is your existing DataFrame already loaded
df=pd.read_csv('interpret.csv')
# Load the movie data
movies_df = pd.read_csv('../Datasets/movie.csv')

# Extract year from the 'title' column
movies_df['year'] = movies_df['title'].str.extract('(\(\d{4}\))')

# Remove parentheses around the year
movies_df['year'] = movies_df['year'].str.replace('[()]', '', regex=True)

# Merge this with the existing DataFrame df
df = pd.merge(df, movies_df[['movieId', 'year']], on='movieId', how='left')

# Check the first few rows to verify
print(df.head())

   movieId                        title  \
0        1                    Toy Story
1        2                      Jumanji
2        3             Grumpier Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

                                        genres  imdbId   tmdbId  rating  year
0  Adventure|Animation|Children|Comedy|Fantasy  114709    862.0   7.971  1995
1                   Adventure|Children|Fantasy  113497   8844.0   7.240  1995
2                               Comedy|Romance  113228  15602.0   6.500  1995
3                         Comedy|Drama|Romance  114885  31357.0   6.300  1995
4                                       Comedy  113041  11862.0   6.249  1995

In [6]:
df

,movieId,title,genres,imdbId,tmdbId,rating,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,7.971,1995
1,2,Jumanji,Adventure|Children|Fantasy,113497,8844.0,7.240,1995
2,3,Grumpier Old Men,Comedy|Romance,113228,15602.0,6.500,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,114885,31357.0,6.300,1995
4,5,Father of the Bride Part II,Comedy,113041,11862.0,6.249,1995
...,...,...,...,...,...,...,...
18380,128734,Polskie gÃ³wno,Comedy|Musical,4438688,NaN,0.000,NaN
18381,128734,Polskie gÃ³wno,Comedy|Musical,4438688,NaN,0.000,NaN
18382,128734,Polskie gÃ³wno,Comedy|Musical,4438688,NaN,0.000,NaN
18383,128734,Polskie gÃ³wno,Comedy|Musical,4438688,NaN,0.000,NaN
18384,128734,Polskie gÃ³wno,Comedy|Musical,4438688,NaN,0.000,NaN

In [7]:
df.to_csv('updated.csv',index=False)

In [16]:
import pandas as pd

# Assuming 'df' is your DataFrame already loaded with movieId, title, genres, imdbId, tmdbId, rating, and year
df=pd.read_csv('updated.csv')
# Convert 'year' to integers if it's not already

# Check for null values in the DataFrame
print("Null value count before removal:")
print(df.isnull().sum())

# Remove rows with any null values
df.dropna(inplace=True)

# Make sure the 'year' is a numeric column for accurate sorting
df['year'] = pd.to_numeric(df['year'], errors='coerce')

# Also ensure 'rating' is numeric if it hasn't been converted yet
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')

# Sort the DataFrame by 'year' descending, then by 'rating' descending
sorted_movies = df.sort_values(by=['year', 'rating'], ascending=[False, False])

# After sorting, take the top 500 movies
top_500_sorted_movies = sorted_movies.head(500)

# Display or use the top 500 sorted movies
print("\nTop 500 sorted movies after removing null values:")
print(top_500_sorted_movies)

Empty DataFrame
Columns: [movieId, title, genres, imdbId, tmdbId, rating, year]
Index: []

In [19]:
df

,movieId,title,genres,imdbId,tmdbId,rating,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,7.971,1995.0
1,2,Jumanji,Adventure|Children|Fantasy,113497,8844.0,7.240,1995.0
2,3,Grumpier Old Men,Comedy|Romance,113228,15602.0,6.500,1995.0
3,4,Waiting to Exhale,Comedy|Drama|Romance,114885,31357.0,6.300,1995.0
4,5,Father of the Bride Part II,Comedy,113041,11862.0,6.249,1995.0
...,...,...,...,...,...,...,...
18380,128734,Polskie gÃ³wno,Comedy|Musical,4438688,NaN,0.000,NaN
18381,128734,Polskie gÃ³wno,Comedy|Musical,4438688,NaN,0.000,NaN
18382,128734,Polskie gÃ³wno,Comedy|Musical,4438688,NaN,0.000,NaN
18383,128734,Polskie gÃ³wno,Comedy|Musical,4438688,NaN,0.000,NaN
18384,128734,Polskie gÃ³wno,Comedy|Musical,4438688,NaN,0.000,NaN

In [28]:
import pickle

# Load the dumped data from latest_movies.pkl
with open('../latest_movies.pkl', 'rb') as file:
    latest_movies = pickle.load(file)

# Load the dumped data from top_rated_movies.pkl
with open('./top_500_movies.pkl', 'rb') as file:
    top_rated_movies = pickle.load(file)

# Display or use the loaded data
print("Latest Movies:")
print(latest_movies)

print("\nTop Rated Movies:")
print(top_rated_movies)

Latest Movies:
       movieId                                  title   imdbId    tmdbId  year
26504   127160                   In Football We Trust  1780871  319074.0  2015
26502   127154                   The Mask You Live In  3983674  224972.0  2015
26505   127162                 Most Likely to Succeed  4267108  319078.0  2015
26506   127164            What Happened, Miss Simone?  4284010  318044.0  2015
26928   129428  The Second Best Exotic Marigold Hotel  2555736  268238.0  2015
...        ...                                    ...      ...       ...   ...
24494   115996                                 Stereo  3348102  256311.0  2014
24818   117340                On a marchÃ© sur Bangkok  3985434  295087.0  2014
24600   116413                          Life Partners  2870808  260001.0  2014
24875   117511                Hello Ladies: The Movie  3762944  303623.0  2014
24592   116397                     Stonehearst Asylum  1772264  207933.0  2014

[500 rows x 5 columns]

Top Rated Movies:
                             title    tmdbId  rating
3359            Farmer's Wife, The  143750.0  10.000
4028          Promise Her Anything  265966.0  10.000
772           To Cross the Rubicon  277270.0   9.000
357      Shawshank Redemption, The     278.0   8.704
1264                Godfather, The     238.0   8.696
...                            ...       ...     ...
3202               Out of the Past     678.0   7.587
4447              Longest Day, The    9289.0   7.587
1365             Wizard of Oz, The     630.0   7.585
4777          Raisin in the Sun, A   29478.0   7.585
7461  Talk to Her (Hable con Ella)      64.0   7.582

[500 rows x 3 columns]

In [29]:
latest_movies

       movieId                                  title   imdbId    tmdbId  year
26504   127160                   In Football We Trust  1780871  319074.0  2015
26502   127154                   The Mask You Live In  3983674  224972.0  2015
26505   127162                 Most Likely to Succeed  4267108  319078.0  2015
26506   127164            What Happened, Miss Simone?  4284010  318044.0  2015
26928   129428  The Second Best Exotic Marigold Hotel  2555736  268238.0  2015
...        ...                                    ...      ...       ...   ...
24494   115996                                 Stereo  3348102  256311.0  2014
24818   117340                On a marchÃ© sur Bangkok  3985434  295087.0  2014
24600   116413                          Life Partners  2870808  260001.0  2014
24875   117511                Hello Ladies: The Movie  3762944  303623.0  2014
24592   116397                     Stonehearst Asylum  1772264  207933.0  2014

[500 rows x 5 columns]

In [30]:
top_rated_movies

                             title    tmdbId  rating
3359            Farmer's Wife, The  143750.0  10.000
4028          Promise Her Anything  265966.0  10.000
772           To Cross the Rubicon  277270.0   9.000
357      Shawshank Redemption, The     278.0   8.704
1264                Godfather, The     238.0   8.696
...                            ...       ...     ...
3202               Out of the Past     678.0   7.587
4447              Longest Day, The    9289.0   7.587
1365             Wizard of Oz, The     630.0   7.585
4777          Raisin in the Sun, A   29478.0   7.585
7461  Talk to Her (Hable con Ella)      64.0   7.582

[500 rows x 3 columns]

In [23]:
latest = latest_movies['title'].tolist()

In [24]:
latest

['In Football We Trust',
 'The Mask You Live In',
 'Most Likely to Succeed',
 'What Happened, Miss Simone?',
 'The Second Best Exotic Marigold Hotel',
 'Power/Rangers',
 'Spring',
 'JÃ¶nssonligan - Den perfekta stÃ¶ten',
 'Muck',
 'Advantageous',
 'The Bronze',
 'The D Train',
 'The Diary of a Teenage Girl',
 'Dope',
 'I Smile Back',
 'Me and Earl and the Dying Girl',
 'The Overnight',
 'People, Places, Things',
 'The Gunman',
 "Prophet's Prey",
 'Going Clear: Scientology and the Prison of Belief',
 'Songs My Brothers Taught Me',
 'The Hunting Ground',
 'SpongeBob Movie: Sponge Out of Water, The',
 'Last Days in the Desert',
 'Get Hard',
 "I'll See You in My Dreams",
 'Seoul Searching',
 'Mississippi Grind',
 'Mistress America',
 'Demonic',
 'Zipper',
 'A Walk in the Woods',
 'True Story',
 'Ten Thousand Saints',
 'Sleeping with Other People',
 'Justice League: Throne of Atlantis',
 'Beaver Trilogy Part IV',
 'Drunk Stoned Brilliant Dead: The Story of the National Lampoon',
 'Kurt Cobain: Montage of Heck',
 'Results',
 'The Stanford Prison Experiment',
 'Aziz Ansari: Live at Madison Square Garden',
 'Vice',
 'Blackhat',
 'Crazy Beautiful You',
 'The Cobbler',
 'Kidnapping Mr. Heineken',
 'Beck - Rum 302',
 'A Grain of Truth',
 'Frozen Fever',
 'Cinderella',
 'Road Hard',
 'Spare Parts',
 'Bikes vs Cars',
 'LEGO DC Comics Super Heroes: Justice League vs. Bizarro League',
 'Kingdom of Shadows',
 'Chuck Norris vs Communism',
 'Average Italian',
 'The Woman in Black 2: Angel of Death',
 'Run All Night',
 'Taken 3',
 'Other Girls',
 'Stockholm, Pennsylvania',
 'The Forbidden Room',
 'Unexpected',
 'Home',
 'Wyrmwood',
 'The Wedding Ringer',
 'Big Game',
 'Insurgent',
 'Chappie',
 'Suite FranÃ§aise',
 'I Hate Christian Laettner',
 'The Boy',
 'Wild Card',
 'Tracers',
 'McFarland USA',
 'Beck - Familjen',
 'The Lazarus Effect',
 "India's Daughter",
 'Unfinished Business',
 'Lila & Eve',
 'Kingsman: The Secret Service',
 'In the Heart of the Sea',
 'As We Were Dreaming',
 'Diary of a Chambermaid',
 'Mortdecai',
 'Project Almanac',
 'Fifty Shades of Grey',
 'Ixcanul Volcano',
 'Strange Magic',
 'Nobody Wants the Night',
 'The Intruders',
 'Petting Zoo',
 'Louis C.K.: Live at The Comedy Store',
 'The DUFF',
 "Dragonheart 3: The Sorcerer's Curse",
 'Home Sweet Hell',
 'Jupiter Ascending',
 'Tokyo FiancÃ©e',
 'Hot Tub Time Machine 2',
 'Dead Rising: Watchtower',
 'Parallels',
 'Bizarre',
 'Adult Camp',
 'Knight of Cups',
 'The End of the Tour',
 'The Coven',
 'American Heist',
 'Brooklyn',
 'Don Verdean',
 'The Boy Next Door',
 'Boy Meets Girl',
 'Digging for Fire',
 'Focus',
 'Paper Planes',
 'Experimenter',
 'Against The Sun',
 'I Am Michael',
 'In Order of Disappearance',
 'Rover, The',
 'How to Train Your Dragon 2',
 '22 Jump Street',
 'The Fool',
 'Equalizer, The',
 'Doc of the Dead',
 'Birdman',
 'Coming Home',
 'Winter Sleep',
 'Boyhood',
 'Get on Up',
 'The Snow White Murder Case',
 'Tillbaka till Bromma',
 'Housebound',
 "Internet's Own Boy: The Story of Aaron Swartz, The",
 'Jersey Boys',
 'Magic in the Moonlight',
 'Think Like a Man Too',
 'Healing',
 'Reckoning, The',
 'Hundred-Foot Journey, The',
 'Batman: Assault on Arkham',
 'Million Dollar Arm',
 'Man on High Heels',
 'Once Upon a Time in Shanghai',
 'Bad Asses',
 '7500',
 'Black Coffee',
 'Antboy II: Revenge of the Red Fury',
 'Lilting',
 'The Fault in Our Stars',
 'Necessary War, The',
 'Maps to the Stars',
 'Case Against 8, The',
 "Let's Be Cops",
 'Son of a Gun',
 'Revenge of the Green Dragons',
 'Giver, The',
 'Korso',
 'Eila, Rampe and Likka',
 'Jack Strong',
 'Rob the Mob',
 'Death in Buenos Aires',
 'Teenage Mutant Ninja Turtles',
 'Headfirst',
 'Zero Motivation',
 'Back in the Day',
 'Transformers: Age of Extinction',
 'They Came Together',
 'Perfect Sisters',
 'The Salt of the Earth',
 'Villain, The',
 'Gunday',
 'Expendables 3, The',
 "Jimmy's Hall",
 'Signal, The',
 'Whiplash',
 'Gone Girl',
 'Guardians of the Galaxy',
 'Angriest Man in Brooklyn, The',
 'Life Itself',
 'Purge: Anarchy, The',
 'Finding Fela!',
 'Missing William',
 'Sunfish, The',
 'Lullaby',
 'Dawn of the Planet of the Apes',
 'Gun Woman',
 'Battered Bastards of Baseball, The',
 'Deliver Us from Evil',
 'I Origins',
 'And So It Goes',
 'Ju-on: The Beginning of the End',
 'Sex Tape',
 'The Invisible Boy',
 'Premature',
 'Hercules',
 'Monty Python Live',
 'Once My Mother',
 'Planes: Fire & Rescue',
 'Toy Story That Time Forgot',
 'Life After Beth',
 'Frank',
 'Sound of Redemption: The Frank Morgan Story',
 'Sharktopus vs. Pteracuda',
 'Girl Who Talked to Dolphins, The',
 'Video Games: The Movie',
 'Very Good Girls',
 'Step Up All In',
 'Kidnapped For Christ',
 'Questioning Darwin',
 "Mrs. Brown's Boys D'Movie",
 'Most Wanted Man, A',
 'Gunfighter, The',
 'Tammy',
 'Maidentrip',
 'Babadook, The',
 'Killer Legends',
 'White God',
 'Earth to Echo',
 'Trip to Italy, The',
 'Hellion',
 'Lust for Love',
 'Wish I Was Here',
 'Innocence',
 'Happy New Year',
 'Over Your Dead Body',
 "God's Not Dead",
 'In Your Eyes',
 'Honest Liar, An',
 'Rio 2',
 'Witching and Bitching',
 'Beauty and the Beast',
 'Cold in July',
 'Calvary',
 'Transcendence',
 'Son of Batman',
 'The Amazing Spider-Man 2',
 'The Raid 2: Berandal',
 'Draft Day',
 'Quiet Ones, The',
 "Belle comme la femme d'un autre",
 'Bears',
 'Expelled',
 'The Last Diamond',
 'He Who Dares',
 'The Gambler',
 'Dinosaur 13',
 'Rage',
 'Brick Mansions',
 'Vampire Academy',
 'Print the Legend',
 'The Divine Move',
 'Heaven Is for Real',
 'Tasting Menu',
 'Night Will Fall',
 'We Still Kill the Old Way',
 'Giuseppe Makes a Movie',
 'Haunted House 2, A',
 'Other Woman, The',
 'Latitudes',
 'In the Blood',
 'Garden Lovers',
 'The Blue Room',
 'Everly',
 'Zodiac',
 'From Zero to Hero',
 'The Little Death',
 'Dark Dungeons',
 'Darker Than Night',
 'Takedown: The DNA of GSP',
 'Age of Ice',
 'Two Shots Fired',
 'The Distance',
 'Avengers Confidential: Black Widow & Punisher',
 'Nut Job, The',
 'Noah',
 'Monsterman',
 'The Remaining',
 'Fort McCoy',
 'Shirin in Love',
 'Free to Play',
 'Beyond the Fear',
 'Modris',
 'Deliverance Creek',
 'Wolves',
 'Fiston',
 'The Unexpected Love',
 'Dom Hemingway',
 'Diplomacy',
 'Kamikaze',
 'Muppets Most Wanted',
 "We'll Never Have Paris",
 'Legend of Hercules, The',
 'Miraculum',
 '13 Sins',
 'Delirium',
 'Hollidaysburg',
 'Korengal',
 'Goodbye to Language 3D',
 'I Am Ali',
 'It Follows',
 'The Anomaly',
 'Sinbad: The Fifth Voyage',
 'Kelly & Cal',
 'The Town that Dreaded Sundown',
 'Blended',
 'Ambition',
 'Bad Johnson',
 'Die Fischerin',
 'Salting the Battlefield',
 'Turks & Caicos',
 "At the Devil's Door",
 'Normal Heart, The',
 'Brony Tale, A',
 'Maleficent',
 'The',
 'Houdini',
 'Serial',
 'Pancho, the Millionaire Dog',
 'Edge of Tomorrow',
 'All Relative',
 "Imagine I'm Beautiful",
 'Viy',
 'Million Ways to Die in the West, A',
 'Red Army',
 'The Hungover Games',
 'Scooby-Doo! WrestleMania Mystery',
 'The White Haired Witch of Lunar Kingdom',
 'Zombeavers',
 'Two Faces of January, The',
 'The Duke of Burgundy',
 'Johnny Express',
 'Katt Williams: Priceless: Afterlife',
 'Pompeii',
 'Nas: Time Is Illmatic',
 'The Identical',
 'Love at First Fight',
 'The Expedition to the End of the World',
 'Ironclad 2: Battle for Blood',
 "The Hornet's Nest",
 'Alpha and Omega 3: The Great Wolf Games',
 'In the Name of the King III',
 'Elsa & Fred',
 "Women Aren't Funny",
 'Cake',
 'Quod erat demonstrandum',
 'Neighbors',
 'The Trip to Bountiful',
 'No God, No Master',
 'Melbourne',
 'Good People',
 '10.000 Km',
 'Kid Cannabis',
 "Rosemary's Baby",
 'Ping Pong Summer',
 'Chef',
 'Lady in Number 6: Music Saved My Life, The',
 "Legends of Oz: Dorothy's Return",
 'Jim Gaffigan: Obsessed',
 'Wicked Blood',
 'Torrente 5: OperaciÃ³n Eurovegas',
 'Walk of Shame',
 'Godzilla',
 'X-Men: Days of Future Past',
 'The Little Rascals Save the Day',
 'Lucy',
 "Mom's Night Out",
 'Appleseed Alpha',
 'Guest, The',
 'Inbetweeners 2, The',
 "Burt's Buzz",
 'Kajaki',
 'Summer of Blood',
 'The Voices',
 'Bronx Obama',
 'Come Back to Me',
 'Trailer Park Boys: Live at the North Pole',
 'Crimes Against Humanity',
 'Before I Disappear',
 'Almost Married',
 'Grace',
 'The Green Prince',
 'Castles in the Sky',
 'They Have Escaped',
 'Learning to Ride',
 'Cowspiracy: The Sustainability Secret',
 'Time Lapse',
 'Like Sunday, Like Rain',
 'Mr. Turner',
 'Copenhagen',
 'Stage Fright',
 'Showrunners: The Art of Running a TV Show',
 'These Final Hours',
 'Seal Team Eight: Behind Enemy Lines',
 'Penguins of Madagascar',
 'Hotline',
 'Black or White',
 'Ragamuffin',
 "'71",
 'Bastards',
 'The Water Diviner',
 'Altman',
 'Still Alice',
 "Grumpy Cat's Worst Christmas Ever",
 'Paddington',
 'Mercy',
 'Serial Killer Culture',
 'Jessabelle',
 'Beautiful Girl',
 'Manny',
 'Hard Sun',
 'Wanderers',
 'Clouds of Sils Maria',
 'Tour De Force',
 'Blind',
 'Left Behind',
 'My Brother the Terrorist',
 'Jarhead 2: Field of Fire',
 'The Mule',
 'Jingle All the Way 2',
 'The Hobbit: The Battle of the Five Armies',
 'Selma',
 'Unbroken',
 'Black Sea',
 'The Frame',
 'The Good Lie',
 'Action Jackson',
 'I Am Santa Claus',
 'Lap Dance',
 'Alexander and the Terrible, Horrible, No Good, Very Bad Day',
 'Harmontown',
 "Street Fighter: Assassin's Fist",
 'Extraterrestrial',
 'Condemned, The',
 'Dying of the Light',
 'WolfCop',
 'Love, Rosie',
 'Book of Life, The',
 'Marshland',
 'Disaster L.A.',
 'Big Hero 6',
 'Nightcrawler',
 'Kill the Messenger',
 'Leave The World Behind',
 'Stop at Nothing: The Lance Armstrong Story',
 'Ouija',
 'Alien Abduction',
 'By the Gun',
 'Rewrite, The',
 'Tell',
 'Haider',
 'Kumiko, the Treasure Hunter',
 'Horrible Bosses 2',
 'Small Time',
 'Babysitting',
 'Labyrinth of Lies',
 'Inherent Vice',
 'The Imitation Game',
 'Serena',
 'Fat, Sick & Nearly Dead 2',
 "Liar's Dice",
 'BFFs',
 'Theory of Everything, The',
 'Amira & Sam',
 'Dolphin Tale 2',
 'When the Game Stands Tall',
 'The ABCs of Death 2',
 'Stromberg - Der Film',
 'Dead Snow 2: Red vs. Dead',
 'The New Girlfriend',
 'Advanced Style',
 'Rudderless',
 'The Hunger Games: Mockingjay - Part 1',
 'Gett: The Trial of Viviane Amsalem',
 'The Damned',
 'Wild Tales',
 'Fed Up',
 'Trash',
 'Dumb and Dumber To',
 'Exodus: Gods and Kings',
 'The Longest Week',
 'Tales of the Grim Sleeper',
 'Miss Meadows',
 'Rosewater',
 'Too Many Cooks',
 'Dear White People',
 'The Way He Looks',
 'A Good Marriage',
 'Sex Ed',
 'United States of Secrets',
 'Valley Uprising',
 'Dark House',
 'The Missionaries',
 'Stereo',
 'On a marchÃ© sur Bangkok',
 'Life Partners',
 'Hello Ladies: The Movie',
 'Stonehearst Asylum']

In [25]:
import pickle

with open('../latest.pkl', 'wb') as file:
    pickle.dump(latest, file)

In [31]:
top_rate=top_rated_movies['title'].tolist()

In [34]:
top_rate[0]

"Farmer's Wife, The"

In [33]:
import pickle

with open('../top_rate.pkl', 'wb') as file:
    pickle.dump(top_rate, file)

In [6]:
import pandas as pd

rating = pd.read_csv('../Datasets/rating.csv')

In [7]:
ratings=rating.sample(n=27000)
ratings

          userId  movieId  rating            timestamp
10458149   72341    51540     3.0  2015-03-27 02:44:00
14251932   98434     2502     3.5  2005-01-23 04:19:37
256916      1763     7101     2.0  2005-11-06 23:59:51
19736345  136642     2529     3.5  2006-10-07 17:25:31
18186803  125794    46972     3.0  2007-04-29 05:43:27
...          ...      ...     ...                  ...
19834435  137287      350     4.0  1996-05-24 03:35:43
7982883    55027     5952     5.0  2008-06-15 02:00:35
701432      4649     1179     3.0  1997-11-14 10:23:48
5621625    38694     1610     5.0  1999-11-29 20:05:45
9247896    63902     1271     4.0  2011-11-18 18:52:24

[27000 rows x 4 columns]

In [8]:
user_movie_matrix = ratings.pivot_table(index='userId', columns='movieId', values='rating', fill_value=0)

In [9]:
user_movie_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,115147,115149,115617,116797,116823,118246,118702,118760,118997,119141
userId,,,,,,,,,,,,,,,,,,,,,
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138493,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
import pickle
with open('../user_movie_matrix.pkl', 'wb') as file:
    pickle.dump(user_movie_matrix, file)

with open('../movies_data.pkl', 'rb') as file:
    movies_data=pickle.load(file)

In [17]:
import numpy as np
def recommend_movies_based_on_movie(movie_id, num_recommendations=14):
    # Find all users who watched the given movie
    users_who_watched = user_movie_matrix[user_movie_matrix[movie_id] > 0].index.tolist()
    
    # Get the subset of the matrix corresponding to these users
    subset_matrix = user_movie_matrix.loc[users_who_watched]
    
    # Count how many times each movie was watched by these users
    movie_popularity = subset_matrix.apply(np.sum, axis=0)
    
    # Remove the original movie from the list
    movie_popularity = movie_popularity.drop(movie_id)
    
    # Sort movies by the most watched
    recommended_movies = movie_popularity.sort_values(ascending=False).head(num_recommendations).index
    
    # Get movie titles
    recommended_movie_titles = movies_data[movies_data['movieId'].isin(recommended_movies)]['title'].tolist()
    
    return recommended_movie_titles

In [18]:
recommend_movies_based_on_movie(1)

['Johnny Mnemonic',
 'Little Women',
 'Godfather, The',
 'Last of the Mohicans, The',
 'U Turn',
 'Wag the Dog',
 'Stalag 17',
 'Man with the Golden Gun, The',
 'Lord of the Rings: The Return of the King, The',
 'Calendar Girls',
 'Fog of War: Eleven Lessons from the Life of Robert S. McNamara, The',
 'House of Sand and Fog',
 'Monster',
 'Kick-Ass']